.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
  }
  
  .navlinks {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  img{
    width: 50px;
  }