.productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    width: 80%;
    margin: auto;
    padding: 1%;
  }
  
  .card_sub_container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
  }
  
  .card_sub_container div button {
    background-color: blue;
    color: white;
    border-radius: 5px;
  }